<ion-view title="Chat">
  <ion-pane ng-controller="ChatCtrl">
    <ion-content class="has-header padding">
      <ol class="messages">
        <li ng-repeat="message in messages" ng-class="" ng-bind-html="message.content"></li>
      </ol>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </ion-content>
    <ion-footer-bar class="bar-frosted">
      <input type="text" placeholder="Enter Message" ng-model="chatMsg">
      <button class="button button-dark  icon-left ion-paper-airplane" ng-click="sendMessage(chatMsg); chatMsg = '';"></button>
    </ion-footer-bar>
  </ion-pane>
</ion-view>
